---
import Layout from "../layouts/Layout.astro";
import "atropos/css";
import Atropos from "atropos/react";
---

<Layout title="Conavi - La Abejita de los Colombianos">
	<main>
		<header class="container mx-auto flex justify-center p-6">
			<img class="w-full md:max-w-lg" src="
			logo-full.png" alt="Conavi" />
		</header>
		<section class="bg-black">
			<div class="container mx-auto">
				<h1 class="text-center py-4 md:text-lg text-white font-light">
					... la gente quiere a Conavi.
				</h1>
			</div>
		</section>
		<section
			class="container mx-auto flex flex-col md:flex-row justify-center pt-8 px-4"
		>
			<p class="text-lg md:text-xl text-center italic">
				"Ir a Conavi era como ir donde la tía chévere donde lo recibían
				a uno siempre con una sonrisa y lo hacían sentir importante así
				su cuenta fuera de centavos"
			</p>
		</section>

		<section class="container mx-auto flex justify-center py-8">
			<Atropos
				className="w-[90%] md:w-[80%] lg:w-[500px]"
				activeOffset={100}
				highlight={false}
				client:load
			>
				<picture
					class="flex border border-white p-3 bg-[#ffd534] rounded-xl w-full justify-center"
				>
					<div class="bg-pattern w-full rounded-lg p-2">
						<div class="flex justify-between w-max-full px-2">
							<img
								src="/card_name.png"
								alt="Conavi"
								class="w-[63%] lg:w-[300px] lg:h-[70px]"
								data-atropos-offset="15"
							/>
							<img
								src="/card_cirrus.png"
								alt="Conavi"
								class="w-[20%] lg:w-[100px] lg:h-[60px]"
								data-atropos-offset="30"
							/>
						</div>
						<div class="px-6 lg:-mt-4">
							<img
								src="/card_face.png"
								alt="Conavi"
								class="w-[45%] lg:w-[150px] lg:h-[130px]"
								data-atropos-offset="40"
							/>
						</div>
						<div class="flex justify-between items-end p-4">
							<img
								src="/card_text.png"
								alt="Conavi"
								class="w-[60%] lg:w-[200px] lg:h-[30px]"
								data-atropos-offset="30"
							/>
							<img
								src="/card_maestro.png"
								alt="Conavi"
								class="w-[20%] lg:w-[100px] lg:h-[60px]"
								data-atropos-offset="30"
							/>
						</div>
					</div>
				</picture>
			</Atropos>
		</section>

		<section class="container mx-auto flex justify-center py-8 pb-20">
			<div class="flex flex-col items-center">
				<h2 class="text-2xl font-bold pb-4">Historia de Conavi</h2>
				<iframe
					class="w-[100vw] h-[250px] max-w-[500px]"
					src="https://www.youtube.com/embed/anfe1VgNtHw?si=FaxWoJSsdZdIoKjy&start=48&cc_load_policy=1"
					title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					allowfullscreen></iframe>
			</div>
		</section>

		<section class="bg-black">
			<div class="container mx-auto py-4 flex flex-col">
				<p
					class="text-white text-sm text-center flex justify-center gap-1 items-center"
				>
					Made with 💛 by <a href="https://elepea.com" target="_blank"
						><img src="/elepea.png" class="w-8 h-5" /></a
					>
				</p>
			</div>
		</section>
	</main>
</Layout>
