---
interface Props {
	url: string;
}

const { url } = Astro.props;
---

<div
	class="relative duration-500 hover:-rotate-0 border group [transform:rotate3d(1_,-1,_1,_30deg)] overflow-hidden rounded-2xl bg-[#ffd534] p-2 flex flex-col items-start hover:z-30"
>
	<img src={`${url}`} class="rounded-xl" />
</div>
