---
import "@fontsource/roboto";
import "@fontsource-variable/open-sans";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Conavi - La Abejita de los Colombianos"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />

		<!-- HTML Meta Tags -->
		<title>Conavi - La Abejita de los Colombianos</title>
		<meta
			name="description"
			content="Conavi - La Abejita de los Colombianos"
		/>

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://conavi.lpa.com.co/" />
		<meta property="og:type" content="website" />
		<meta
			property="og:title"
			content="Conavi - La Abejita de los Colombianos"
		/>
		<meta
			property="og:description"
			content="Conavi - La Abejita de los Colombianos"
		/>
		<meta
			property="og:image"
			content="https://conavi.lpa.com.co/share.png"
		/>

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="conavi.lpa.com.co" />
		<meta property="twitter:url" content="https://conavi.lpa.com.co/" />
		<meta
			name="twitter:title"
			content="Conavi - La Abejita de los Colombianos"
		/>
		<meta
			name="twitter:description"
			content="Conavi - La Abejita de los Colombianos"
		/>
		<meta
			name="twitter:image"
			content="https://conavi.lpa.com.co/share.png"
		/>

		<!-- Meta Tags Generated via https://www.opengraph.xyz -->

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: "Helvetica";
		src:
			url("/fonts/Helvetica-BlackOblique.woff2") format("woff2"),
			url("/fonts/Helvetica-BlackOblique.woff") format("woff"),
			url("/fonts/Helvetica-BlackOblique.ttf") format("truetype");
		font-weight: 900;
		font-style: italic;
		font-display: swap;
	}

	:root {
		background: #ffd534;
	}
	body {
		/* font-family: "Open Sans Variable", sans-serif; */
		font-family: "Roboto", sans-serif;
	}
</style>
