---
import "@fontsource/roboto";
// import "@fontsource-variable/open-sans";
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-KJ1M15WCWG"
		></script>
		<script is:inline>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag("js", new Date());

		gtag("config", "G-KJ1M15WCWG");
		</script>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Conavi - La Abejita de los Colombianos"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />

		<!-- HTML Meta Tags -->
		<title>Conavi - La Abejita de los Colombianos</title>
		<meta
			name="description"
			content="Conavi - La Abejita de los Colombianos"
		/>

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://conavi.lpa.com.co/" />
		<meta property="og:type" content="website" />
		<meta
			property="og:title"
			content="Conavi - La Abejita de los Colombianos"
		/>
		<meta
			property="og:description"
			content="Conavi - La Abejita de los Colombianos"
		/>
		<meta
			property="og:image"
			content="https://conavi.lpa.com.co/share.png"
		/>

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="conavi.lpa.com.co" />
		<meta property="twitter:url" content="https://conavi.lpa.com.co/" />
		<meta
			name="twitter:title"
			content="Conavi - La Abejita de los Colombianos"
		/>
		<meta
			name="twitter:description"
			content="Conavi - La Abejita de los Colombianos"
		/>
		<meta
			name="twitter:image"
			content="https://conavi.lpa.com.co/share.png"
		/>

		<!-- Meta Tags Generated via https://www.opengraph.xyz -->

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: "Helvetica";
		src:
			url("/fonts/Helvetica-BlackOblique.woff2") format("woff2"),
			url("/fonts/Helvetica-BlackOblique.woff") format("woff"),
			url("/fonts/Helvetica-BlackOblique.ttf") format("truetype");
		font-weight: 900;
		font-style: italic;
		font-display: swap;
	}

	:root {
		background: #ffd534;
	}
	body {
		/* font-family: "Open Sans Variable", sans-serif; */
		font-family: "Roboto", sans-serif;
	}
	h2 {
		font-family: "Helvetica", sans-serif;
	}

	@keyframes modal-video {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@keyframes modal-video-inner {
		from {
			transform: translate(0, 100px);
		}
		to {
			transform: translate(0, 0);
		}
	}
	.modal-video {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 1000000;
		cursor: pointer;
		opacity: 1;
		animation-timing-function: ease-out;
		animation-duration: 0.3s;
		animation-name: modal-video;
		-webkit-transition: opacity 0.3s ease-out;
		-moz-transition: opacity 0.3s ease-out;
		-ms-transition: opacity 0.3s ease-out;
		-o-transition: opacity 0.3s ease-out;
		transition: opacity 0.3s ease-out;
	}

	.modal-video-effect-exit {
		opacity: 0;
	}
	.modal-video-effect-exit .modal-video-movie-wrap {
		-webkit-transform: translate(0, 100px);
		-moz-transform: translate(0, 100px);
		-ms-transform: translate(0, 100px);
		-o-transform: translate(0, 100px);
		transform: translate(0, 100px);
	}

	.modal-video-body {
		max-width: 960px;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		padding: 0 10px;
		display: flex;
		justify-content: center;
		box-sizing: border-box;
	}

	.modal-video-inner {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}
	@media (orientation: landscape) {
		.modal-video-inner {
			padding: 10px 60px;
			box-sizing: border-box;
		}
	}

	.modal-video-movie-wrap {
		width: 100%;
		height: 0;
		position: relative;
		padding-bottom: 56.25%;
		background-color: #333;
		animation-timing-function: ease-out;
		animation-duration: 0.3s;
		animation-name: modal-video-inner;
		-webkit-transform: translate(0, 0);
		-moz-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
		-webkit-transition: -webkit-transform 0.3s ease-out;
		-moz-transition: -moz-transform 0.3s ease-out;
		-ms-transition: -ms-transform 0.3s ease-out;
		-o-transition: -o-transform 0.3s ease-out;
		transition: transform 0.3s ease-out;
	}
	.modal-video-movie-wrap iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.modal-video-close-btn {
		position: absolute;
		z-index: 2;
		top: -45px;
		right: 0px;
		display: inline-block;
		width: 35px;
		height: 35px;
		overflow: hidden;
		border: none;
		background: transparent;
	}
	@media (orientation: landscape) {
		.modal-video-close-btn {
			top: 0;
			right: -45px;
		}
	}
	.modal-video-close-btn:before {
		transform: rotate(45deg);
	}
	.modal-video-close-btn:after {
		transform: rotate(-45deg);
	}
	.modal-video-close-btn:before,
	.modal-video-close-btn:after {
		content: "";
		position: absolute;
		height: 2px;
		width: 100%;
		top: 50%;
		left: 0;
		margin-top: -1px;
		background: #fff;
		border-radius: 5px;
		margin-top: -6px;
	}

	.containerPlay {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.button {
		display: inline-block;
		position: relative;
	}
	.button.is-play {
		background-color: #fff;
		border-radius: 50%;
		width: 100px;
		height: 100px;
	}
	.button.is-play .button-outer-circle {
		background: rgba(255, 255, 255, 0.6);
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
	}
	.button.is-play .button-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 30px;
		height: 30px;
		transform: translate(-50%, -50%);
	}
	.button.is-play .button-icon .triangle {
		-webkit-animation: fadeIn 7s ease;
		animation: fadeIn 7s ease;
	}
	.button.is-play .button-icon .path {
		stroke-dasharray: 90;
		stroke-dashoffset: 0;
		-webkit-animation: triangleStroke 3s;
		animation: triangleStroke 3s;
		-webkit-animation-timing-function: ease;
		animation-timing-function: ease;
	}
	.has-scale-animation {
		-webkit-animation: smallScale 3s infinite;
		animation: smallScale 3s infinite;
	}
	.has-delay-short {
		-webkit-animation-delay: 0.5s;
		animation-delay: 0.5s;
	}
	@-webkit-keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@-webkit-keyframes triangleStroke {
		from {
			stroke-dashoffset: 90;
		}
		to {
			stroke-dashoffset: 0;
		}
	}
	@keyframes triangleStroke {
		from {
			stroke-dashoffset: 90;
		}
		to {
			stroke-dashoffset: 0;
		}
	}
	@-webkit-keyframes smallScale {
		from {
			transform: scale(1);
			opacity: 1;
		}
		to {
			transform: scale(1.5);
			opacity: 0;
		}
	}
	@keyframes smallScale {
		from {
			transform: scale(1);
			opacity: 1;
		}
		to {
			transform: scale(1.5);
			opacity: 0;
		}
	}
</style>
